body{
    background-image: url(./image.png);
    background-repeat: no-repeat;
    background-size:cover;
    height: auto;
}
h1{
    font-size: 350%;
    text-align: center;
    color: rgb(32, 10, 196);
    padding-top: 8%;
    padding-right: 40%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav-links{
    font-size: x-large;
    justify-content: space-around;
}
h2{
    color: black;
    
}
.but{
    color: rgb(6, 215, 13);
    padding-left: 90%;
    padding-top: 10%;
}
h3{
    font-size: 350%;
    text-align: center;
    color: rgb(15, 17, 177);
    padding-left: 10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}